*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color-pri: #386c8aa8;
  --bd-color-sec: #eef5f5;


  --font-int: "Inter", sans-serif;
  --font-sora: "Sora", sans-serif;
  --font-news: "Newsreader", serif;

  --tx-lg: 600 40px/150% var(--font-news);
}

body {
  background: var(--bg-color-pri);
}

h1 {
  font: var(--tx-lg);
}